/*Fonts and Colors */

body{
	background: rgb(240,240,240);
	color: rgb(20,20,20);
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	color: white;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: blue;
	font-size: 20px;
}

a:hover{
	text-decoration: none;
	color: green;
}

/*Custom design */
#banner{
	background-image: url(https://images.unsplash.com/photo-1501413334794-233d56ab2c78?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=nano_nastasia-324812.jpg&s=1b8034a3309c7376a2afbd1d37d992b9/1000/600);
	background-size: cover;
	padding: 150px; 0;
	text-align: center;

}

#banner h1{
	color: white;
}

#banner p{
	color: white;
	font-size: 30px;
	font-weight: lighter;
	
}

.card{
	padding: 50px;
	text-align: center;

}

#footer{
	background: black;
	color: white;
	font-size: 20px;
	padding: 20px;

}
#footer a {
	font-size: 20px;
	color: grey;

}

#footer a:hover {
	color: white;
	text-align: center;
}


